@import '../../index.scss';
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(100deg, whitesmoke, grey);
    box-shadow: 0 2px 4px #0000001a;
    position: fixed;
    z-index: 1000;
}

.theme-light {
    background: linear-gradient(100deg, rgb(223, 222, 222), grey);
  }
  .theme-light .title a {
    color: black;
  }

  .theme-dark {
    background: linear-gradient(100deg, black, grey);
    color: white;
  }
  .theme-dark .title a {
    color: white;
  }
  
  /* 当视窗宽度小于 600px */
  @media only screen and (max-width: 600px) {
    .title {
      font-size: 12px;  /* 较小的视窗中的字体大小 */
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .title {
      font-size: 18px;  /* 中等的视窗中的字体大小 */
    }
  }
  
  @media only screen and (min-width: 1201px) {
    .title {
      font-size: 20px;  /* 较大的视窗中的字体大小 */
    }
  }

.title a{
    text-decoration: none;
    transition: color 0.3s;
}

.theme-light .title a:hover{
  background-image: var(--main-gradient);
  -webkit-background-clip: text;
  color: transparent;
}
.theme-dark .title a:hover{
    color:rgb(246, 165, 2)
}