@import '../../index.scss';
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(100deg, whitesmoke, grey);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);;
}

.theme-light {
    background: linear-gradient(100deg, rgb(223, 222, 222), grey);
  }
  .theme-light .title a {
    color: black;
  }

  .theme-dark {
    background: linear-gradient(100deg, black, grey);
    color: white;
  }
  .theme-dark .title a {
    color: white;
  }
  

.title a{
    text-decoration: none;
    transition: color 0.3s;
}

.theme-light .title a:hover{
  // color: rgb(0, 132, 255); 
  // color: linear-gradient(100deg, rgb(0, 204, 255), rgb(246, 165, 2));
  background-image: var(--main-gradient);
  -webkit-background-clip: text;
  color: transparent;
}
.theme-dark .title a:hover{
    color:rgb(246, 165, 2)
}