.list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    transition: background-color 0.3s;
    // margin-right: 1em;
    border-radius: 5px;
    position: relative;
    font-weight: bolder;
  }
  
.theme-light .link {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  
.theme-dark .link {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
 .theme-light:hover{
  background-color: grey;
  color: transparent;
}
.theme-dark:hover{
  background-color: rgb(246, 165, 2);
}

.list:hover .theme1-light {
    color: white;
  }
  
 .list:hover .theme1-dark {
    color: black;
  }
  
  /* 当视窗宽度小于 600px */
  @media only screen and (max-width: 600px) {
    .link {
      font-size: 12px;  /* 较小的视窗中的字体大小 */
    }
  }
  
  /* 当视窗宽度大于 600px，但小于 1200px */
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .link {
      font-size: 18px;  /* 中等的视窗中的字体大小 */
    }
  }
  
  /* 当视窗宽度大于 1200px */
  @media only screen and (min-width: 1201px) {
    .link {
      font-size: 18px;  /* 较大的视窗中的字体大小 */
    }
  }
