.list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    transition: background-color 0.3s;
    margin-right: 1em;
    border-radius: 5px;
    position: relative;
  }
  
.theme-light .link {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  
.theme-dark .link {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
.list:hover {
    background-color: rgb(246, 165, 2);
}

.list:hover .theme1-light {
    color: white;
    text-shadow: 0 0 1px white;
  }
  
 .list:hover .theme1-dark {
    color: black;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
  }
  
